<h1>Products</h1>
<div id="filters">
    <div>
        <select id="filter">
        <option value="">Select Price</option>
        <option value="0" id="min" name="min">Greater than</option>
        <option value="1" id="max" name="max">Less than</option>
        <option value="2" id="equal" name="equal">Equal to</option>
        </select>
        <input type="text" name="value" id="value">
    </div>

    <div>
        <select id="country">
        <option value="">Select Country</option>
        <% @countries.each do |country| %>
            <option value="<%= country.downcase %>"><%= country %></option>
        <% end %>
        </select>
    </div>

    <div>
        <select id="sort">
        <option value="">Select sorting order</option>
        <option value="0">Price: Low to High</option>
        <option value="1">Price: High to Low</option>
        <option value="2">Sort by newest</option>
        <option value="3">Sort by relevance</option>
        </select>
    </div>
</div>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Country</th>
        <th>Tags</th>
        <th>Price</th>
        <th style="display: none;"></th>
        </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
        <tr>
            <td> 
                <%= link_to product.title, product_path(product.id), remote: true %> 
            </td>
            <td> <%= product.description %> </td>
            <td> <%= product.country %> </td>
            <td> <%= product.tags %> </td>
            <td> <%= product.price %> </td>
            <td style="display: none;"> <%= product.created_at %> </td>
        </tr>
    <% end %>
    </tbody>
</table>

<div id="modal">
    <div class="modal-content">
    </div>
</div>
